In [2]:
import sqlite3

In [3]:
import pandas as pd

In [4]:
conn = sqlite3.connect('/Users/anushaeregowda/Documents/3rd Semester/HAP880/testClaims.db')

In [5]:
tbls = pd.read_sql("select * from sqlite_master where type = 'table'", conn)

In [12]:
tbls

,type,name,tbl_name,rootpage,sql
0,table,claims,claims,2,"CREATE TABLE ""claims"" (\n""index"" INTEGER,\n ""..."
1,table,d_elixhauser,d_elixhauser,171943,"CREATE TABLE ""d_elixhauser"" (\n""index"" INTEGER..."
2,table,d_placeOfService,d_placeOfService,171964,"CREATE TABLE ""d_placeOfService"" (\n""index"" INT..."
3,table,diagnoses,diagnoses,171966,"CREATE TABLE ""diagnoses"" (\n""index"" INTEGER,\n..."
4,table,drugcount,drugcount,385252,"CREATE TABLE ""drugcount"" (\n""index"" INTEGER,\n..."
5,table,members,members,407569,"CREATE TABLE ""members"" (\n""index"" INTEGER,\n ..."
6,table,procedures,procedures,411207,"CREATE TABLE ""procedures"" (\n""index"" INTEGER,\..."

In [13]:
el = pd.read_sql('select * from claims', conn)

In [14]:
el

,index,claim_id,patient_id,los,provider,plcsrvc,months,year,claim_days
0,0,11,PAT110736,NaN,None,15,0-1,Y3,19
1,1,110,PAT24603,NaN,None,15,8-9,Y3,260
2,2,1100137,PAT126045,NaN,None,15,4-5,Y3,149
3,3,1100138,PAT126045,NaN,None,15,4-5,Y3,149
4,4,1100140,PAT21309,NaN,None,15,8-9,Y3,258
5,5,1100150,PAT39615,NaN,None,15,6-7,Y3,206
6,6,1100151,PAT39615,NaN,None,15,6-7,Y3,206
7,7,1100156,PAT39615,NaN,None,15,7-8,Y3,237
8,8,1100157,PAT39615,NaN,None,15,7-8,Y3,237
9,9,110016,PAT71503,NaN,None,15,10-11,Y2,330
10,10,110017,PAT71503,NaN,None,15,10-11,Y2,330
11,11,110018,PAT71503,NaN,None,15,10-11,Y2,330
12,12,1100209,PAT67991,NaN,None,15,0-1,Y3,14
13,13,1100210,PAT67991,NaN,None,15,2-3,Y3,81
14,14,1100211,PAT67991,NaN,None,15,2-3,Y3,81
15,15,1100212,PAT67991,NaN,None,15,4-5,Y3,131
16,16,1100213,PAT67991,NaN,None,15,6-7,Y3,199
17,17,1100214,PAT67991,NaN,None,15,9-10,Y3,276
18,18,1100215,PAT187072,NaN,None,15,0-1,Y3,23
19,19,1100216,PAT187072,NaN,None,15,1-2,Y3,51
20,20,1100217,PAT187072,NaN,None,15,1-2,Y3,54
21,21,1100218,PAT187072,NaN,None,15,2-3,Y3,82
22,22,1100219,PAT187072,NaN,None,15,3-4,Y3,113
23,23,1100220,PAT187072,NaN,None,15,4-5,Y3,143
24,24,1100221,PAT187072,NaN,None,15,5-6,Y3,174
25,25,1100222,PAT187072,NaN,None,15,6-7,Y3,204
26,26,1100223,PAT187072,NaN,None,15,7-8,Y3,232
27,27,1100224,PAT187072,NaN,None,15,7-8,Y3,235
28,28,1100225,PAT187072,NaN,None,15,8-9,Y3,266
29,29,1100226,PAT187072,NaN,None,15,9-10,Y3,296
...,...,...,...,...,...,...,...,...,...
12132073,12132073,6999927,PAT186194,NaN,PRV5121,30,11-12,Y2,347
12132074,12132074,6999928,PAT186194,NaN,PRV5121,30,11-12,Y2,347
12132075,12132075,6999929,PAT186194,NaN,PRV5121,30,11-12,Y2,347
12132076,12132076,6999930,PAT186194,NaN,PRV5121,30,11-12,Y2,347
12132077,12132077,6999931,PAT186194,NaN,PRV5121,30,11-12,Y2,347
12132078,12132078,6999932,PAT186194,NaN,PRV5121,30,11-12,Y2,347
12132079,12132079,6999933,PAT186194,NaN,PRV5121,30,11-12,Y2,347
12132080,12132080,6999977,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132081,12132081,6999978,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132082,12132082,6999979,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132083,12132083,6999980,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132084,12132084,6999981,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132085,12132085,6999982,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132086,12132086,6999983,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132087,12132087,6999984,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132088,12132088,6999985,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132089,12132089,6999986,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132090,12132090,6999987,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132091,12132091,6999988,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132092,12132092,6999989,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132093,12132093,6999990,PAT148622,NaN,PRV17273,30,1-2,Y1,54
12132094,12132094,6999991,PAT148622,NaN,PRV17273,30,2-3,Y1,61
12132095,12132095,6999992,PAT148622,NaN,PRV17273,30,2-3,Y1,61
12132096,12132096,6999993,PAT148622,NaN,PRV17273,30,2-3,Y1,61
12132097,12132097,6999994,PAT148622,NaN,PRV17273,30,2-3,Y1,61
12132098,12132098,6999995,PAT148622,NaN,PRV17273,30,2-3,Y1,61
12132099,12132099,6999996,PAT148622,NaN,PRV17273,30,3-4,Y1,95
12132100,12132100,6999997,PAT148622,NaN,PRV17273,30,3-4,Y1,95
12132101,12132101,6999998,PAT148622,NaN,PRV17273,30,3-4,Y1,95
12132102,12132102,6999999,PAT148622,NaN,PRV17273,30,3-4,Y1,95

In [6]:
claims = pd.read_sql('select distinct patient_id from claims ', conn)

In [7]:
claims

       patient_id
0           PAT10
1          PAT100
2         PAT1000
3        PAT10000
4       PAT100001
5       PAT100002
6       PAT100003
7       PAT100004
8       PAT100005
9       PAT100006
10      PAT100007
11      PAT100008
12      PAT100009
13       PAT10001
14      PAT100011
15      PAT100012
16      PAT100013
17      PAT100016
18      PAT100017
19      PAT100018
20       PAT10002
21      PAT100021
22      PAT100022
23      PAT100023
24      PAT100024
25      PAT100025
26      PAT100026
27      PAT100027
28      PAT100028
29      PAT100029
...           ...
145899   PAT99965
145900   PAT99966
145901   PAT99967
145902   PAT99968
145903    PAT9997
145904   PAT99971
145905   PAT99972
145906   PAT99974
145907   PAT99975
145908   PAT99976
145909   PAT99977
145910   PAT99978
145911   PAT99979
145912    PAT9998
145913   PAT99981
145914   PAT99982
145915   PAT99984
145916   PAT99985
145917   PAT99987
145918   PAT99988
145919   PAT99989
145920   PAT99990
145921   PAT99991
145922   PAT99992
145923   PAT99994
145924   PAT99995
145925   PAT99996
145926   PAT99997
145927   PAT99998
145928   PAT99999

[145929 rows x 1 columns]

In [8]:
members = pd.read_sql('select count(distinct(patient_id)) from members ', conn)

In [9]:
members

   count(distinct(patient_id))
0                       145929

In [10]:
conn.execute('create index ix_members_index_patient_id on members(patient_id)')

OperationalError: index ix_members_index_patient_id already exists

In [22]:
conn.execute('create index ix_claims_index_patient_id on claims(patient_id)')

In [12]:
allpatients = pd.read_sql('select distinct c.patient_id from claims c inner join members m on c.patient_id = m.patient_id', conn)

In [13]:
allpatients

       patient_id
0           PAT10
1          PAT100
2         PAT1000
3        PAT10000
4       PAT100001
5       PAT100002
6       PAT100003
7       PAT100004
8       PAT100005
9       PAT100006
10      PAT100007
11      PAT100008
12      PAT100009
13       PAT10001
14      PAT100011
15      PAT100012
16      PAT100013
17      PAT100016
18      PAT100017
19      PAT100018
20       PAT10002
21      PAT100021
22      PAT100022
23      PAT100023
24      PAT100024
25      PAT100025
26      PAT100026
27      PAT100027
28      PAT100028
29      PAT100029
...           ...
145899   PAT99965
145900   PAT99966
145901   PAT99967
145902   PAT99968
145903    PAT9997
145904   PAT99971
145905   PAT99972
145906   PAT99974
145907   PAT99975
145908   PAT99976
145909   PAT99977
145910   PAT99978
145911   PAT99979
145912    PAT9998
145913   PAT99981
145914   PAT99982
145915   PAT99984
145916   PAT99985
145917   PAT99987
145918   PAT99988
145919   PAT99989
145920   PAT99990
145921   PAT99991
145922   PAT99992
145923   PAT99994
145924   PAT99995
145925   PAT99996
145926   PAT99997
145927   PAT99998
145928   PAT99999

[145929 rows x 1 columns]

In [14]:
HospitalizedPatients = pd.read_sql('select distinct patient_id from claims c where los NOT NULL', conn)

In [15]:
HospitalizedPatients

      patient_id
0         PAT100
1        PAT1000
2      PAT100001
3      PAT100004
4      PAT100006
5      PAT100009
6      PAT100012
7      PAT100013
8      PAT100018
9       PAT10002
10     PAT100021
11     PAT100023
12     PAT100024
13     PAT100025
14     PAT100027
15     PAT100028
16      PAT10003
17     PAT100035
18     PAT100038
19     PAT100040
20     PAT100041
21      PAT10005
22     PAT100050
23     PAT100051
24     PAT100052
25     PAT100061
26     PAT100065
27     PAT100067
28     PAT100069
29     PAT100076
...          ...
66159   PAT99918
66160    PAT9992
66161   PAT99920
66162   PAT99923
66163   PAT99924
66164   PAT99925
66165   PAT99926
66166   PAT99928
66167    PAT9993
66168   PAT99932
66169   PAT99933
66170   PAT99936
66171   PAT99939
66172    PAT9994
66173   PAT99945
66174   PAT99946
66175   PAT99951
66176   PAT99952
66177   PAT99958
66178   PAT99964
66179   PAT99968
66180   PAT99974
66181   PAT99977
66182   PAT99978
66183    PAT9998
66184   PAT99981
66185   PAT99989
66186   PAT99992
66187   PAT99996
66188   PAT99997

[66189 rows x 1 columns]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(allpatients, test_size=0.2)

In [18]:
X_train

       patient_id
90828    PAT31525
100961   PAT44151
99834    PAT42766
184     PAT100235
134686   PAT85953
113622    PAT5974
50751   PAT163300
57156   PAT171261
106100   PAT50523
120348   PAT68184
106359   PAT50836
87773    PAT27726
69575   PAT186716
94350    PAT35952
101349   PAT44635
53980   PAT167312
192     PAT100247
34962   PAT143507
1712    PAT102144
119099   PAT66594
48158   PAT160091
85318    PAT24674
28958   PAT136009
60791    PAT17579
91010    PAT31755
109357   PAT54523
88097    PAT28122
115224   PAT61762
29753   PAT137010
27719   PAT134493
...           ...
83876    PAT22893
135038   PAT86385
2291    PAT102865
10805   PAT113505
142489   PAT95662
38241   PAT147592
64159   PAT179954
45146   PAT156290
5208    PAT106571
137958   PAT90038
118235   PAT65547
62603   PAT178033
32589   PAT140561
136698   PAT88480
15390     PAT1192
120315    PAT6814
76811     PAT1957
87899    PAT27882
75053   PAT193505
119032   PAT66513
130628   PAT80916
58263   PAT172650
53819   PAT167113
15178   PAT118947
131348   PAT81839
26916   PAT133495
28448   PAT135361
86477    PAT26111
126892   PAT76296
30550   PAT138004

[116743 rows x 1 columns]

In [19]:
X_test

       patient_id
108494   PAT53451
44997   PAT156111
106528   PAT51046
93674    PAT35116
9044    PAT111296
78229   PAT197473
132482   PAT83248
31944   PAT139751
110214   PAT55550
26036   PAT132419
80590   PAT200443
82565    PAT21271
18164   PAT122644
119126   PAT66626
44193   PAT155112
6301    PAT107952
65588    PAT18176
48658   PAT160736
110973   PAT56469
13987   PAT117486
69238   PAT186296
51538   PAT164298
117606   PAT64758
35635   PAT144365
29553   PAT136752
166     PAT100206
63258   PAT178828
120214   PAT68015
123607   PAT72224
85420    PAT24804
...           ...
139801   PAT92303
145116      PAT99
124668   PAT73540
16540   PAT120629
63780   PAT179491
45607   PAT156869
28688   PAT135674
86632    PAT26301
3224    PAT104039
7522    PAT109431
84807    PAT24049
21069   PAT126296
103478   PAT47308
38650   PAT148123
43847   PAT154670
63357   PAT178956
113383   PAT59414
9187     PAT11149
18399   PAT122933
115935    PAT6264
106029   PAT50432
105239   PAT49484
57716   PAT171965
23509   PAT129326
136465   PAT88179
25542   PAT131822
53708   PAT166981
116916   PAT63863
59751   PAT174498
39721   PAT149456

[29186 rows x 1 columns]

In [20]:
X_train.to_sql('TrainCohorts', conn)

In [21]:
X_test.to_sql('TestCohorts',conn)

In [22]:
TR = pd.read_sql('select * from TrainCohorts ', conn)

In [23]:
TR

         index patient_id
0        90828   PAT31525
1       100961   PAT44151
2        99834   PAT42766
3          184  PAT100235
4       134686   PAT85953
5       113622    PAT5974
6        50751  PAT163300
7        57156  PAT171261
8       106100   PAT50523
9       120348   PAT68184
10      106359   PAT50836
11       87773   PAT27726
12       69575  PAT186716
13       94350   PAT35952
14      101349   PAT44635
15       53980  PAT167312
16         192  PAT100247
17       34962  PAT143507
18        1712  PAT102144
19      119099   PAT66594
20       48158  PAT160091
21       85318   PAT24674
22       28958  PAT136009
23       60791   PAT17579
24       91010   PAT31755
25      109357   PAT54523
26       88097   PAT28122
27      115224   PAT61762
28       29753  PAT137010
29       27719  PAT134493
...        ...        ...
116713   83876   PAT22893
116714  135038   PAT86385
116715    2291  PAT102865
116716   10805  PAT113505
116717  142489   PAT95662
116718   38241  PAT147592
116719   64159  PAT179954
116720   45146  PAT156290
116721    5208  PAT106571
116722  137958   PAT90038
116723  118235   PAT65547
116724   62603  PAT178033
116725   32589  PAT140561
116726  136698   PAT88480
116727   15390    PAT1192
116728  120315    PAT6814
116729   76811    PAT1957
116730   87899   PAT27882
116731   75053  PAT193505
116732  119032   PAT66513
116733  130628   PAT80916
116734   58263  PAT172650
116735   53819  PAT167113
116736   15178  PAT118947
116737  131348   PAT81839
116738   26916  PAT133495
116739   28448  PAT135361
116740   86477   PAT26111
116741  126892   PAT76296
116742   30550  PAT138004

[116743 rows x 2 columns]